h3 {
  text-align: center;
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.card-header {
  font-weight: bold;
  background-color: rgb(89, 141, 214);
}

.card-body {
  background-color: rgb(3, 26, 59);
  color: white;
}

.form-group label {
  width: 100px;
  font-weight: bold;
}

.form-group input,textarea {
  border-radius: 5px;
  width: 250px;
}
.danger {
  margin-left: 100px;
  color: red;
}
.form label {
  font-weight: bold;
  color: white;
}

select {
  width: 100%;
  height: 34px;
  font-size: 16px;
  color: black;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#edit {
  margin-top: 20px;
  margin-left: 130px;
  width: 130px;
}

#reset {
  margin-top: 20px;
  margin-left: 50px;
  width: 100px;
}