.required {
  color: red;
}

h3 {
  text-align: center;
}

#email {
  color: rgb(18, 18, 17);
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.card-header {
  font-weight: bold;
  background-color: rgb(89, 141, 214);
}

.card-body {
  background-color: rgb(3, 26, 59);
}

.form-group label {
  color: white;
  font-weight: bold;
}

#change {
  margin-top: 20px;
  margin-left: 130px;
  width: 100px;
}

#reset {
  margin-top: 20px;
  margin-left: 30px;
  width: 100px;
}