<app-navbar></app-navbar>
<div class="form-group">
    <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-header">
              <h3>List Student</h3>
            </div>
            <div class="card-body">
<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <label for="academicYear">Select Academic Year: <span class="required">*</span></label>
        <select id="academicYear" formControlName="academicYear">
            <option>Select Academic Year</option>
            <option *ngFor="let academicYear of academicYears">{{academicYear}}</option>
        </select>
        <span class="text-danger"
        *ngIf="(reactiveFormControl.academicYear.touched) && reactiveFormControl.academicYear.errors?.required">
       Academic Year is required
    </span>  
    </div>
    <div class="container">
        <label for="department">Select Department: <span class="required">*</span></label>
        <select id="department" formControlName="department">
            <option>Select Department</option>
            <option *ngFor="let department of departments" [value]="department.id">{{department.name}}</option>
        </select>
        <span class="text-danger"
        *ngIf="(reactiveFormControl.department.touched) && reactiveFormControl.department.errors?.required">
       Department is required
    </span>  
    </div>
    <div class="container">
        <label for="courseType">Select Course Type: <span class="required">*</span></label>
        <select id="courseType" formControlName="courseType"
            (change)="getCoursesByDepartmentAndCourseType(reactiveForm.get('department').value, $event.target.value)">
           <option>Select Course Type</option>
            <option *ngFor="let courseType of courseTypes" [value]="courseType.id">{{courseType.courseTypeName}}
            </option>
        </select>
        <span class="text-danger"
        *ngIf="(reactiveFormControl.courseType.touched) && reactiveFormControl.courseType.errors?.required">
       Course Type is required
    </span> 
    </div>
    <div class="container">
        <label for="course">Select Course: <span class="required">*</span></label>
        <select id="course" formControlName="course">
            <option>Select Course</option>
            <option *ngFor="let course of courses" [value]="course.id">{{course.name}}</option>
        </select>
    </div>
    <span class="text-danger"
    *ngIf="(reactiveFormControl.course.touched) && reactiveFormControl.course.errors?.required">
         Course is required
    </span>  
    <!-- <div class="container">
        <label for="semester">Select Semester:</label>
        <select id="semester" formControlName="semester">
            <option *ngFor="let semester of semesters" [value]="semester.id">{{semester.name}}</option>
        </select>
        <span class="text-danger"
        *ngIf="(reactiveFormControl.semester.touched) && reactiveFormControl.semester.errors?.required">
       Semester is required
    </span>  
    </div> -->
    <br>
    <button type="submit" id="view" class="btn btn-primary">View Student</button>
    <!-- <div class="alert alert-success" *ngIf="isAlert">{{message}}</div> -->
</form>
</div>
</div>
</div>
</div>
</div>
<table class="table"  *ngIf="showTable">
    <thead>
        <tr>
            <th>SN</th>
            <th>Name</th>
            <th>Dob</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Academic Year</th>
            <th colspan="2">Action</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students ; let i=index">
            <td>{{ i + 1 }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.dob }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.phno }}</td>
            <td>{{ student.address }}</td>
            <td>{{ student.academicYear }}</td>
            <td><button class="btn btn-success" (click)="edit(student.id)">Edit</button></td>
           <!--<td><button class="btn btn-danger" (click)="delete()">InActivate</button></td>--> 
            <td><button class="btn btn-danger" (click)="updateAvailability(student)">
                {{ student.isAvailable ? 'Deactivate' : 'Activate' }}
            </button></td>
            <!-- <td><button class="btn btn-success" (click)="upgrade(student)">Upgrade</button></td> -->
        </tr>
    </tbody>
</table>
